version: '{build}'

branches:
  only:
    - master
    - /^lua-.*$/
  
clone_folder: c:\projects\lua

image:
  - Visual Studio 2017
  
matrix:
  fast_finish: true
  
environment:
  matrix:
    - generator: "Visual Studio 15"
    - generator: "Visual Studio 15 Win64"

configuration: 
  Release
  Debug

before_build:
  - cmd: |-
      mkdir build\static
      cd build\static
      cmake ..\.. -G "%generator%" -DUSE_STATIC_RT=ON
  
build:
  project: c:\projects\lua\build\static\lua.sln
  verbosity: quiet
  parallel: true