version: '{build}'

branches:
  only:
    - master
    - /^lua-.*$/
  
clone_folder: c:\projects\lua

image:
  - Visual Studio 2017
  
matrix:
  fast_finish: true
  
environment:
  matrix:
    - generator: "Visual Studio 15"
    - generator: "Visual Studio 15 Win64"

before_build:
  - mkdir build\static
  - cd build\static
  - cmake .. -G '%generator%
  
build_script:
  - cmake --build build\static --config Release -DUSE_STATIC_RT=ON
  